<section class="section register flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2 text-light">
                <h5 class="card-title text-center pb-0 fs-4">Ingresa con tu cuenta</h5>
                <p class="text-center small">Ingresa tu nombre de usuario y clave</p>
              </div>

                  <form (ngSubmit)="guardar()" [formGroup]="form"  class="row g-3 needs-validation">

                <div class="form-floating mb-2 col-12">
                    <input type="text" name="username" formControlName="username" class="form-control" placeholder="Nombre de usuario" required>
                  <label for="yourUsername" class="form-label">Username</label>
                </div>

                <div class="form-floating mb-2 col-12">
                  <input type="password" class="form-control" formControlName="password" id="input-clave"
                  placeholder="Clave" required />
                  <label for="yourPassword" class="form-label">Password</label>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100" type="submit">Ingresar</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

</section>
