body {
        background-color: #333;
        color: #fff;
    }

    .card {
        background-color: #222;
        border: 1px solid #444;
    }

    .form-control {
        background-color: #444;
        color: #fff;
        border: 1px solid #666;
    }

    .form-label {
        color: #aaa;
    }

    .form-check-label {
        color: #aaa;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    a {
        color: #007bff;
    }

    a:hover {
        color: #0056b3;
    }