<div style="text-align: center; font-size: 24px;">
    <p style="font-size: 32px;">Bienvenido usuario:</p>
    <p>
      <span id="firstname" style="font-size: 28px;">{{usuarioLogged!.firstname}} {{usuarioLogged!.lastname}}</span>
    </p>
  </div>
  
<div class="text">
    <div class="container">
        <div class="row">
            <div *ngIf=" isAdmin || isMod" class="col-md-3">
                <div class="card" style="background-color: #66616173;">
                    <a routerLink="/user"><img
                            src="https://cdn-icons-png.flaticon.com/512/476/476863.png"
                            class="card-img-top"></a>
                    <div class="card-body">
                        <h5 class="card-title">Usuarios</h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>