<nav class="navbar navbar-expand-lg navbar-dark bg-black" style="background: black">
  <div class="container-fluid">
    <div>
        <a routerLink="/" class="navbar-brand">
          Inicio
          <i class="bi bi-house"></i>
        </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav links">
                <li *ngIf="isAdmin || isMod || isUser" class="nav-item">
                    <a class="nav-link navbar-brand" routerLink="/user">Usuarios</a>
                </li>
        </ul>
    </div>
    <div *ngIf="!isLogged" class="text-end">
        <a type="button" class="btn btn-outline-light me-2" routerLink="/login">Inicia sesión <i class="bi bi-box-arrow-in-left"></i></a>
    </div>
    <div *ngIf="isLogged" class="dropdown text-end">
        <a href="#" class="d-block text-decoration-none dropdown-toggle text-light" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{usuarioLogged!.firstname}} {{usuarioLogged!.lastname}} <i class="bi bi-person-check"></i>
        </a>
        <ul class="dropdown-menu text-small" style="background-color: gray;">
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="logout()">Cerrar sesión <i class="bi bi-box-arrow-in-right"></i></a></li>
        </ul>
    </div>
  </div>
</nav>