<div class="container">
    <section class="register flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <legend class="text-center header">Editar usuario</legend>
                <form (ngSubmit)="guardar()" [formGroup]="form">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="firstname" id="input-nombre"
                    placeholder="Nombre" required />
                    <label for="input-nombre" class="form-label">Nombre</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="lastname" id="input-apellido"
                    placeholder="Apellido" required />
                    <label for="input-apellido" class="form-label">Apellido</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" formControlName="username" id="input-username"
                    placeholder="Username" [readonly]="readonlyMode" />
                    <label for="input-username" class="form-label">Username <i class="bi bi-dash-circle-fill"></i> </label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" formControlName="email" id="input-email"
                    placeholder="name@example.com" [readonly]="readonlyMode" />
                    <label for="input-email" class="form-label">Email address <i
                        class="bi bi-dash-circle-fill"></i></label>
                  </div>
                  <div class="mb-3">
                    <label for="input-roles" class="form-label">Roles</label>
                    <select class="form-select" formControlName="roles" id="input-roles">
                      <option *ngFor="let role of roles" [value]="toJson(role)">
                        {{ role.name }}
                      </option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="input-estado" class="form-label">Estado</label>
                    <select class="form-select" formControlName="status" id="input-estado">
                      <option value="A">Activo</option>
                      <option value="I">Inactivo</option>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" routerLink="/user">
                      Volver
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                      Guardar
                    </button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>