<div class="container" style="background-color: #1d1c1c73;">
    <br>
    <button class="btn btn-info m-2" data-bs-toggle="modal" data-bs-target="#modal-newUser" *ngIf="isAdmin || isMod">Agregar nuevo <i class="bi bi-person-add"></i></button>
    <!-- <button>Nuevo Usuario</button> -->
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Roles</th>
          <th scope="col">Estado</th>
          <th scope="col" *ngIf="isAdmin">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <th scope="row">{{ usuario.id }}</th>
          <td>{{ usuario.firstname }} {{usuario.lastname }}</td>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.email }}</td>
          <td *ngFor="let rol of usuario.roles">{{ rol.name == "ROLE_MODERATOR"? "Moderador":(rol.name == "ROLE_USER"?"Guardia":"Administrador") }}</td>
          <td>{{ usuario.status == "A"? "Activo" : "Inactivo" }}</td>
          <td *ngIf="isAdmin">
            <div class="d-flex gap-2 ">      
              <!-- <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirmacion"><i class="bi bi-trash-fill">delete</i></a>
              <a class="btn btn-warning" (click)="obtenerUsuarioId(usuario)"><i class="bi bi-pencil-fill"></i>Edit</a> -->
              <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-confirmacion" (click)="obtenerUsuario(usuario)"><i class="bi bi-trash-fill"></i></a>
              <a class="btn btn-warning" (click)="obtenerUsuarioId(usuario)"><i class="bi bi-pencil-fill"></i></a>
          
            </div>
        </td>
        </tr>
      </tbody>
    </table>
  
    <app-new-user (usuarioGuardado)="onUserSave($event)"></app-new-user>
    
    <app-modal-delete 
        [idUsuarioAEliminar]="usuarioSeleccionado"
        (eliminarUsuario)="delete($event)"
    ></app-modal-delete>
    <br>
</div>
  
  