<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="https://sasf.net/" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="https://ec.linkedin.com/company/sudamericana-de-software" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 SASF S.A.</p>
</footer>
